body {
  margin: 0;
  font-family: cursive,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.7rem;
  margin-top: 24px;
}

.note.new {
  background-color: #b367d7;
}

textarea {
  background-color: #b367d7;
  border: none;
  resize: none;
  height: 200px;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  color: #2d2c2c;
  font-size: 16px;
}

.save {
  border-radius: 10px;
  font-size: 16px;
  background-color: #b367d7;
  border: 1px solid #000;
  color: #000;
  padding: 8px 12px;
  transition: all 0.3s;
}

.save:hover {
  background-color: #000;
  color: #b367d7;
  cursor: pointer;
}

.note {
  background-color: #7098ff;
  border-radius: 10px;
  padding: 1rem;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  transition: all 0.3s;
  box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.3);
  white-space: pre-wrap;
}

.note:hover {
  transform: translateY(-3px);
  box-shadow: 4px 20px 20px rgba(0, 0, 0, 0.2);
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #bbb;
  padding: 5px;
  border-radius: 10px;
}

.search-input {
  background-color: #bbb;
  border-radius: 10px;
  border: none;
  padding: 12px;
  width: 100%;
}

.search-input::placeholder {
  color: #2d2c2c;
  font-size: 16px;
}

.search-input:focus {
  outline: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.dark-mode {
  background-image: linear-gradient(to right, #000, #222);
  min-height: 100vh;
}

.dark-mode .heading {
  color: #fff;
} 

.normal {
  background-image: linear-gradient(to right, #fff, #ccc);
  min-height: 100vh;
}